@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 6px; /* Width of the entire scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #e3e4e6;
    border-radius: 3px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #072635;
    border-radius: 3px; 
    
  }
  
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */
